#interface {
  position: relative;
 
  .interface-container {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
  }

  .interface-menu {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
;
    li {
      font-size: 1.5rem;
      list-style: none;
      font-weight: bold;
      cursor: pointer;
      color: white;
      padding: 0 2rem;
    }
  }

  .interface-content-container {
    position: relative;
    width: 50vw;
    height: 50vh;
    background: white;
    position: absolute;
    left: 25vw;
    top: 25vh;

    .interface-content-text {
      padding: 2rem;
    }

    .interface-content-close {
      position: absolute;
      top: 2rem;
      right: 2rem;
      font-size: 2rem;
      cursor: pointer;
    }
  }

  .interafce-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
  }

  .interface-content-map {
    position: absolute;
    bottom: 2rem;
    right: 2rem;

    .interface-map {
      position: 'relative';
      border: 1px white solid;
      background: rgba(0, 0, 0, 0.5);
    }

    .interface-map-square {
      background: #55FF66;
      position: absolute; 
      outline: 5px #555555 solid;
      outline-offset: -5px;
    }

  }

}
