@import './interface';

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#options {
  position: fixed;
  z-index: 99999999999999;
  width: 100%;
  background: black;
  top: 20px;
  left: 20px;
  width: 33%;
  max-width: 500px;
  padding: 20px;
  color: white;
  opacity: 0.8;
  min-height: 200px;
}

#options,
#options div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#options span {
  padding-top: 5px;
  padding-bottom: 5px;
}

#close {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

// Debug

.debug-info {
  top: calc(100% - 100px) !important;
  left: calc(100% - 200px) !important;

  canvas {
    width: 200px !important;
    height: 100px !important;
  }
}
